name: Auto-merge Dependabot
on: pull_request_target

jobs:
  automerge:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable automerge
        continue-on-error: true
        run: |
          gh pr merge --merge --auto $PR_NUMBER
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}